<%- include("./partials/header.ejs")  %> 
<body>
<%- include("./partials/navbar.ejs")  %> 

<div class="container">
 <div class="text-center my-5">
  <h2>Página principal DesenvolvimentoBOT</h2>
 </div>
 <h4>Falta implementar:</h4>
 <p>1. Update do banco de dados;</p>
 <p>2. Criação de cargos automáticos no discord;</p>
 <p>3. Comando de promoção no discord;</p>
 <p>4. Comando de promoção no banco de dados;</p>
<p> 5. Banco de dados com os cargos principais.</p>
</div>

</body>
<%- include("./partials/footer.ejs")  %> 